:root{
--Red: hsl(14, 86%, 42%);
--Green: hsl(159, 69%, 38%);
--Rose_50: hsl(20, 50%, 98%);
--Rose_100: hsl(13, 31%, 94%);
--Rose_300: hsl(14, 25%, 72%);
--Rose_400: hsl(7, 20%, 60%);
--Rose_500: hsl(12, 20%, 44%);
--Rose_900: hsl(14, 65%, 9%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Red Hat Text";
}
body{
    height: 100%;
    width: 100%;
    font-size: 1em;
    display: flex;
    padding: 2em 5em;
    overflow-x: hidden;
    gap: 2em;
    background-color: var(--Rose_100);

    & #desserts{
        display: flex;
        height: max-content;
        gap: 1em;
        flex-direction: column;
        width: 70%;
        max-width: 806px;
        & h1{
            color: var(--Rose_900);
            width: 100%;
            height: 10%;
            font-size: 1.75em;
        }

        & .grille{
            width: 100% ;
            height: 90% ;
            display: grid;
            /* justify-content: center; */
            /* justify-content: space-between; */
            grid-template-columns: repeat(auto-fill, 241px);
            grid-gap: 1em;

            & .produit{
                display: flex;
                width: 241.10px;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
                gap: 1.25em;
                height: 80%;

                & .img{
                    height: 80%;
                    width: 100%;
                    border-radius: 9px;
                    border: 2px solid  transparent;
                    display: flex;
                    align-items: center;
                    transition: border 0.25S cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    
                    & img{
                        border-radius: 7px;
                        width: 100%;
                        height: 100%;
                    }
                }
                & .description{
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    height: 30%;
                    width: 100%;

                    & .categorie{
                        font-size: calc(1em - 4px);
                        color:var(--Rose_400);
                    }
                    & .nom{
                        font-size: calc(1em - 2px);
                        font-weight: 650;
                        color:var(--Rose_900);
                    }
                    & .prix{
                        font-size: calc(1em - 2px);
                        font-weight: 600;
                        color:var(--Red);
                    }
                }
                & .ajouter{
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding:0.5em  1em;
                    gap: 0.5em;
                    min-width: 150.10px;
                    max-width: 157.10px;
                    bottom: 17%;
                    border-radius: 3em;
                    border: 1px solid var(--Rose_900);
                    background-color: #fff;

                    &:hover{
                        cursor: pointer;
                    }

                    & p{
                        font-weight: 600;
                        color:var(--Rose_900);
                    }
                }
                & .quantite{
                    position: absolute;
                    min-width: 150.10px;
                         max-width: 157.10px;
                          bottom: 17%;
                          height: 39px;
                        border-radius: 3em;
                        display: none;
                        background-color: var(--Red);
                        color: var(--Rose_100);
                        align-items: center;
                        justify-content: space-between;
                        border-radius: 3em;
                        z-index: 1;
                        padding: 0em 0.85em;

                        & svg{
                            border: 1px solid var(--Rose_100);
                            border-radius: 50%;
                            padding: 0.25em;
                            height: 18px;
                            width: 18px;
                            transition:all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
                            fill: var(--Rose_100);

                            &:hover{
                                background-color: var(--Rose_100);
                                fill: var(--Red);
                                cursor: pointer;
                            }
                        }
                    }
            }
        }

    }

    & #cart{
        max-width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;


        & .panier{
            padding: 2em;
            width: 100%;
            height: max-content;
            display: flex;
            flex-direction: column;
            gap: 1.25em;
            border-radius: 9px;
            /* position: fixed; */
            /* top: 0; */
            background-color: var(--Rose_50);

            & h1{
                color: var(--Red);
            }

            & .panier-vide{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                & p{
                    color: var(--Rose_500);
                }
            }

            & .panier-avec-items{
                height: max-content;
                width: 100%;
                display: none;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1em;

                & .element-du-panier{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    justify-content: space-between;
                    padding-bottom: 0.5em;
                    border-bottom: 1px solid var(--Rose_100);

                    & .description-element{
                        width: 90%;
                        display: flex;
                        flex-direction: column;
                        gap: 0.45em;

                        & .titre-element{
                        font-size: calc(1em - 2px);
                        font-weight: 650;
                        color:var(--Rose_900);
                    }
                    & .info-element{
                        font-size: calc(1em - 2px);
                        width: max-content;
                        display: flex;
                        width: 100%;
                        gap: 0.85em;
                        & #nombre-commandé{
                            font-weight: 650;
                            color: var(--Red);
                        }
                        & .prix-element{
                            opacity: 0.5;
                        }
                        & .prix-fois-nombre{
                            width: max-content;
                            color: var(--Rose_900);
                            opacity: 0.60;
                            font-weight: 600;
                        }
                    }
                }

                    & svg{
                            border-radius: 50%;
                            height: 1em;
                            width: 1em;
                            padding: 2px;
                            fill: #CAAFA7;
                            border: 1px solid #CAAFA7;
                            transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
                            &:hover{
                                cursor: pointer;
                                fill: #000;
                                border: 1px solid rgba(0, 0, 0, 1);
                            }
                        }
                }

                & .total{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    & span:nth-child(1){
                        font-size: calc(1em - 2px);
                        opacity: 0.60;
                        /* color: var(--Rose_100); */
                    }
                    & .montant-total{
                        color: var(--Rose_900);
                        font-weight: 650;
                        font-size: 1.125em;
                    }
                }

                & .texte-neutral{
                    font-size: calc(1em - 4px);
                    background-color: var(--Rose_100);
                    padding: 1em 3em;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    height: max-content;
                    width: 100%;
                    color: var(--Rose_900);
                    & span{
                        font-weight: 650;
                    }
                }

                & button{
                    width: 100%;
                    font-weight: 650;
                    color: var(--Rose_50);
                    background-color: var(--Red);
                    border: none;
                    border-radius: 2em;
                    padding: 1em;
                    transition: all 0.25s ease-in-out;
                    &:focus{
                        outline: none;
                    }
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }

    /* Div qui apparaitra au click */
    #confirme-commande{
        background-color: rgba(0, 0, 0, 0.60);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 20;
        position: fixed;
        display: none;
        align-items: center;
        justify-content: center;

        & .div-order-confirmed{
        width: 35%;
        height: max-content;
        background-color: var(--Rose_50);
        display: flex;
        gap: 0.5em;
        flex-direction: column;
        align-items: start;
        padding: 2em;
        border-radius: 14px;

        & img{
            margin-bottom: 0.25em;
            height: 2.75em;
            width: 2.75em;
        }
        & h1{
            color: var(--Rose_900);
            font-size: 2.15em;
        }
        & p{
            color: var(--Rose_500);
            margin-bottom: 0.25em;
        }
        .montant-total-commande{
            color: var(--Rose_900);
            font-weight: 650;
            font-size: 18px;
        }
        & .tes-commandes-avec-thumbnails{
            height: max-content;
            width: 100%;
            background-color: var(--Rose_100);
            flex-direction: column;
            /* padding: 1em; */
            padding: 1em 1em 0em;
            margin-bottom: 1.15em;
            border-radius: 8px;
            & .description-commande{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        gap: 0.75em;
                        justify-content: space-between;
                        align-items: center;
                        padding-bottom: 0.25em;
                        border-bottom: 1px solid var(--Rose_50);
                        & img{
                            border-radius: 5px;
                            width: max-content;
                        }
                        & .info-element{
                            font-size: calc(1em - 2px);
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            gap: 0.25em;
                            & .titre-element{
                                font-size: calc(1em - 1px);
                                font-weight: 650;
                                color:var(--Rose_900);
                            }
                            & .details-nombre{
                                width: max-content;
                                display: flex;
                                gap: 0.75em;
                                & #nombre-commandé-commande{
                                    font-weight: 650;
                                    color: var(--Red);
                                }
                                & .prix-element-commande{
                                    opacity: 0.5;
                                }
                            }
                        }
                                & .prix-fois-nombre-commande{
                                    width: max-content;
                                    color: var(--Rose_900);
                                    font-weight: 600;
                        }
                }
                & .total{
                    height: 53px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    
                    & span:nth-child(1){
                        font-size: calc(1em - 2px);
                    }
                    & .montant-total{
                        color: var(--Rose_900);
                        font-weight: 650;
                        font-size: 1.125em;
                    }
                }
            }
                 & button{
                    width: 100%;
                    font-weight: 650;
                    color: var(--Rose_50);
                    background-color: var(--Red);
                    border: none;
                    border-radius: 2em;
                    padding: 1em;
                    transition: all 0.25s ease-in-out;

                    &:hover{
                        cursor: pointer;
                    }
                }
        }
    }
}
    .affiche{
        display : flex!important;
    }
    .attribution {
        font-size: 11px;
        text-align: center;
    }
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
/*----Responsive Design-------*/    
    @media screen and  (min-width:320px) and (max-width:425px) {
        body{
            padding: 2em 0em!important;
        width: 100%;
        flex-direction: column!important;
        justify-content: center;
        scroll-behavior: smooth;
        overflow-x: hidden;
    }
    #desserts{
        width: 100%!important;
        justify-content: center;
        align-items: center;
        gap: 0px;
        
        & h1{
            padding-left:1em ;
            font-size: 2em!important;
        }
    }
    #cart{
        max-width: 0px!important;
                width: 100% !important;
        min-width: 100% ;
        justify-content: center !important;
    }
    .panier{
        width: 80% !important;
        min-width: 90% !important;
        padding: 2em 1em !important;
    }
    .grille{
        align-items: center;
        justify-content: center;
        grid-gap: 0px;
    }
    .texte-neutral{
        padding: 1em!important;
    }
    #confirme-commande{
        align-items: self-end!important;
    }
    .div-order-confirmed{
        width: 100%!important;
        padding: 3em 0.5em!important;
    }
    .titre-element{
        font-size: 14px;
    }
    .montant-total-commande{
        color: var(--Rose_900)!important;
    }
}

@media screen and  (min-width:426px) and (max-width:649px) {
       body{
        padding: 2em!important;
        width: 100%;
        align-items: center;
        flex-direction: column!important;
        justify-content: center;
        scroll-behavior: smooth;
        overflow-x: hidden;
    }
    .grille{
        justify-content: center;
        align-items: center;
    }
   #desserts{
        align-items: center;
    }
    #cart{
        min-width:325px;
    }
    .panier{
        min-width: 325px;
    }
    .texte-neutral{
        padding: 1em!important;
    }   
    .div-order-confirmed{
        min-width: 85%;
    }

}
@media screen and  (min-width:650px) and (max-width:768px) {
       body{
        padding: 2em!important;
        width: 100%;
        flex-direction: row!important;
        scroll-behavior: smooth;
        overflow-x: hidden;
    }
    .texte-neutral{
        padding: 1em!important;
    } 
   #desserts{
        align-items: center;
    }
    #cart{
        min-width:325px;
    }
    .panier{
        min-width: 325px;
    }
     .div-order-confirmed{
        min-width: 65%;
    }   
}
@media screen and  (min-width:769px) and (max-width:917px) {
    #cart{
        min-width:375px;
    }
    .panier{
        min-width: 375px;
    }   
    .div-order-confirmed{
       min-width: 65%;
    }
}
@media screen and  (min-width:918px) and (max-width:1024px) {
    #cart{
        min-width:315px;
    }
    .texte-neutral{
        padding: 1em!important;
    }
    .panier{
        min-width: 315px;
    }   
     .div-order-confirmed{
        min-width: 55%;
    }
}
@media screen and  (min-width:1025px) and (max-width:1268px) {
    body{
        padding: 2em;
    }
    #cart{
        min-width:335px;
    }
    .panier{
        min-width: 335px;
    }   
     .div-order-confirmed{
        min-width: 45%;
    }
        .texte-neutral{
        padding: 1em!important;
    }
}
@media screen and  (min-width:1269px) and (max-width:1440px){

    .texte-neutral{
        padding: 1em!important;
    }
}
 @media screen and  (min-width:1441px) and (max-width:2550px) {
    body{
        width: 100%;
        padding: 5em;
        gap: 2em;
    }
    #desserts{
        max-width: 70%!important;
    }
    #cart{
        min-width: 500px;
        min-height: 350px;
    }
    .panier-vide{
        width: 500px;
        height: 350px;
    }
    .grille{
        grid-template-columns: repeat(auto-fill, 425px)!important;

        & .produit{
            min-width: 425px;
        }
        .ajouter{
            height: 50px!important;
            width: 200px!important;
            & .p{
                font-size: 1.25em;
            }
        }
         .quantite{
            height: 50px!important;
            width: 200px!important;
         }
    }

}